html {
    height: 100%;
}

body {
    
    color: white;
    background: black;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    height: 100%;
    animation: fadeIn 0.5s linear;
    margin: 0;

}

h1 {
    font-size: 15vh;
    margin: 2rem;
    margin-top: -1em;
}