#navbar a {
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
    text-decoration: none;
    transition: 300ms linear;
}

#navbar a:hover {
    color: black !important;
    background: white;
}