@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

html {
    height: 100%;
}

body {
    
    background: black;
    color: var(--text-color);
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    flex-flow: column nowrap;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    height: calc(100% - 1em);
    animation: fadeIn 0.5s linear;
    
}

#navbar {
    animation: none !important;
}

body::-webkit-scrollbar { width: 0 !important }

#profile-title {
    margin-left: 1em;
}

img {
    border: 2px solid white;
}