body {
    
    background: black;
    color: var(--text-color);
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    flex-flow: column nowrap;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    text-align: center;
    padding: 0 5em;
    
}

body::-webkit-scrollbar { width: 0 !important }

h1 {
    text-align: center;
    font-size: 2.5em;
}

a {
    color: white;
    text-decoration: none;
}

p {
    padding: 0 3em;
    text-align: justify;
}

img {
    margin-left: 2em;
}

#img-main {margin-left: auto;
margin-right: auto;}