@keyframes schizo {

0% {opacity: 0;}
1% {opacity: 1;}
2% {opacity: 0;}
3% {opacity: 0;}
4% {opacity: 1;}
5% {opacity: 1;}
6% {opacity: 0;}
7% {opacity: 0;}
8% {opacity: 1;}
9% {opacity: 1;}
10% {opacity: 0;}
11% {opacity: 0;}
12% {opacity: 1;}
13% {opacity: 0;}
14% {opacity: 0;}
15% {opacity: 0;}
16% {opacity: 0;}
17% {opacity: 1;}
18% {opacity: 0;}
19% {opacity: 0;}
20% {opacity: 0;}
21% {opacity: 1;}
22% {opacity: 1;}
23% {opacity: 1;}
24% {opacity: 0;}
25% {opacity: 0;}
26% {opacity: 1;}
27% {opacity: 1;}
28% {opacity: 1;}
29% {opacity: 0;}
30% {opacity: 1;}
31% {opacity: 0;}
32% {opacity: 0;}
33% {opacity: 1;}
34% {opacity: 0;}
35% {opacity: 1;}
36% {opacity: 1;}
37% {opacity: 0;}
38% {opacity: 1;}
39% {opacity: 0;}
40% {opacity: 0;}
41% {opacity: 0;}
42% {opacity: 0;}
43% {opacity: 0;}
44% {opacity: 1;}
45% {opacity: 1;}
46% {opacity: 1;}
47% {opacity: 0;}
48% {opacity: 0;}
49% {opacity: 1;}
50% {opacity: 0;}
51% {opacity: 1;}
52% {opacity: 0;}
53% {opacity: 0;}
54% {opacity: 1;}
55% {opacity: 1;}
56% {opacity: 1;}
57% {opacity: 0;}
58% {opacity: 1;}
59% {opacity: 1;}
60% {opacity: 1;}
61% {opacity: 0;}
62% {opacity: 0;}
63% {opacity: 0;}
64% {opacity: 1;}
65% {opacity: 0;}
66% {opacity: 1;}
67% {opacity: 1;}
68% {opacity: 1;}
69% {opacity: 0;}
70% {opacity: 0;}
71% {opacity: 0;}
72% {opacity: 0;}
73% {opacity: 0;}
74% {opacity: 1;}
75% {opacity: 0;}
76% {opacity: 1;}
77% {opacity: 1;}
78% {opacity: 1;}
79% {opacity: 1;}
80% {opacity: 1;}
81% {opacity: 1;}
82% {opacity: 0;}
83% {opacity: 1;}
84% {opacity: 1;}
85% {opacity: 1;}
86% {opacity: 1;}
87% {opacity: 1;}
88% {opacity: 0;}
89% {opacity: 0;}
90% {opacity: 0;}
91% {opacity: 0;}
92% {opacity: 1;}
93% {opacity: 0;}
94% {opacity: 1;}
95% {opacity: 1;}
96% {opacity: 1;}
97% {opacity: 0;}
98% {opacity: 1;}
99% {opacity: 1;}
100% {opacity: 0;}

}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes flash {
    
    from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}

}

@keyframes popin {

    0%  {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    
    background: black;
    color: var(--text-color);
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    flex-flow: column nowrap;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    
}

body::-webkit-scrollbar { width: 0 !important }


.title-big {
    animation: 1s linear normal popin;
    display: block;
    align-self: center;
    justify-self: center;
}

.page-main {
    
    margin-top: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.motto-box {

    display: flex;
    margin-bottom: 3em;

}

.para-block {
    
    margin: 2em 6em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s ease-in 2s both;
    
}

.para-block li {
    margin: 0.4em 0em;
}

.redacted {

    background: red;
    color: black;
    height: 1.3em;
    animation: 1.5s linear infinite alternate flash;
    
}

.motto-spacer {
    height: 1.3em;
    width: 0.5em;
    display: inline-block;
    background: var(--text-color);
    margin: 0em 1.25em;
    animation: 2s linear normal popin;
}

.motto-box span {
    animation: 1.5s linear normal popin;
}

.admin-entry {
    border: 4px solid lime;
    height: 1.5em;
    width: 20em;
    display: block;
    color: lime;
    animation: 1.5s linear alternate infinite schizo;
    padding: 1.5em 0em;
}


#adlink {
    text-decoration: none;
    text-align: center;
    animation: 5s ease-in normal fadeIn;
}

img {
    border: 4px solid white;
    animation: fadeIn 1.5s ease-in 2s both;
}

/*ADMIN PAGE*/

.admin-main {
    
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 2em 5em;
    border: 4px solid lime;
    margin: 0px;
    height: 100em;
    
}