select {
    background: black;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: medium;
    border: 2px solid white;
    width: 18em;
    margin: 0em 3em 3em 3em;
}

label[for="perms"] {
    margin-top: 3em;
}   

#title {
    text-align: center;
}

#usrtable {
    border-spacing: 30px;
    padding: 0em 5em;
}

#usrtable td {
    text-align: center;
    vertical-align: middle;
}

#heading>th {
    padding-bottom: 1.5em;
}

#usrtable th{
    border-bottom: 2px solid white;
}

